.wordle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.word,
.SubmitedGuess {
    display: flex;
    justify-content: center;
}

.char {
    border: 2px solid white;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

body {
  background-color: rgb(9, 9, 49);
}
.SubmitedGuess {
  background-color: pink;
}

.CurrentGuess {
  background-color: aqua;
}